<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Posts:</h1>
    <section>
    <table>
        <% for (let post of posts) { %>
        <tr>
            <td><h3><li><%= post.title %></li></h3></td> 
            <td><% include ../attachments/attachment %></td>
            <td>
                <a href="/posts/<%= post.id %>" class="button">Mostrar</a>
            </td>
            <td>
                <a href="/posts/<%= post.id %>/edit" class="button">Editar</a>
            </td>
            <td>
                <a href="/posts/<%= post.id %>?_method=DELETE"
                onClick="return confirm('Eliminar: <%= post.title %>');"
                class="button">Borrar</a>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/posts/new" class="button">Crear Nuevo Post</a>
    </section>
</body>
</html>
